$main-background: aliceblue;
$primary-color: #3F51B5;
$primary-color-dark: #1A237E;

body {
  background-color: $main-background;
  margin: 0;
  padding: 0;
}

header {
  background-color: $primary-color;
  height: 400px;
}

nav {
  background-color: $primary-color-dark;
  height: 60px;
  ul {
    list-style-type: none;
  }
}

.nav-item {
  color: aliceblue;
  float: left;
  margin-right: 10px;
}